@font-face {
    font-family: Acumin_Pro_SemiCondensed;
    src: url('../font/acumin-pro-semi-condensed.otf');
}

@font-face {
    font-family: Oswald-Regular;
    src: url('../font/Oswald-Regular.ttf');
}

@font-face {
    font-family: JunkDog;
    src: url('../font/JunkDog.otf');
}

@font-face {
    font-family: Maxtield;
    src: url('../font/Maxtield.otf');
}